.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.paginationItem {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.paginationButton {
  display: flex;
  padding: 5px;
}

.paginationButtonArrow {
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

.paginationButtonArrowNext {
  clip-path: polygon(9.8px 12.8px, 8.7px 12.8px, 4.5px 8.5px, 4.5px 7.5px, 8.7px 3.2px, 9.8px 4.3px, 6.1px 8px, 9.8px 11.7px, 9.8px 12.8px);
}

.paginationButtonArrowPrev {
  clip-path: polygon(6.2px 3.2px, 7.3px 3.2px, 11.5px 7.5px, 11.5px 8.5px, 7.3px 12.8px, 6.2px 11.7px, 9.9px 8px, 6.2px 4.3px, 6.2px 3.2px);
}
