.menuContainer {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 40px;
}

.menu {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-column-gap: 20px;
}

.menuItem {
  color: var(--menu-item-color);
}

.menuItemActive {
  font-weight: bolder;
}
