.profile__link,
.profile__logout,
.profile-property-value {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-top: 13px;
  padding-bottom: 13px;
}

.profile__link,
.profile-property-value:not(:Last-child) {
  border-bottom: 1px solid var(--gray-3);
}

.profile-property-value__value {
  text-align: right;
  color: var(--text-secondary-color);
}

.profile__logout {
  color: var(--red-1);
  text-align: left;
}
