.error {
  text-align: center;
}

.errorTitle {
  font-size: var(--extra-big-font-size);
  font-weight: 500;
}

.errorDescription {
  font-size: var(--big-font-size);
  margin-top: 20px;
}

.errorLink {
  display: block;
  margin-top: 70px;
}
