.gameSettings {
  display: grid;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gameSettingsSelect {
  padding: 5px;
  border: 1px solid var(--gray-3);
  border-radius: 3px;
  appearance: none;
  background-image: url(./arrow.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.gameSettingsInput,
.gameSettingsCheckbox {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 10px;
  align-items: center;
}

.gameSettingsInput input {
  border-radius: 3px;
}

.gameSettingsCheckbox {
  cursor: pointer;
}

.gameSettingsCheckboxInput {
  width: auto;
}
