.app-form {
  width: 340px;
  font-size: 13px;
  padding: 50px 30px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.app-form__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.app-form__button {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 14px;
  font-size: inherit;
  transition: .3s;
}

html.light .app-form__button {
  color: var(--white-1);
  background-color: var(--blue-1);
  border: 1px solid var(--blue-1);
}

html.dark .app-form__button {
  color: var(--white-1);
  background-color: transparent;
  border: 1px solid var(--white-1);
}

.app-form__link {
  align-self: center;
}

.input-group {
  display: block;
  position: relative;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 16px;
}

.input-group__input {
  transition: .2s;
}

html.light .input-group__input {
  background-color: var(--background-color);
  color: var(--gray-1);
  border-bottom: 1px solid var(--blue-1);
}

html.dark .input-group__input {
  background-color: var(--background-color);
  color: var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
}

.input-group__label {
  position: absolute;
  top: 17px;
  left: 0;
  pointer-events: none;
  color: var(--gray-1);
  transition: .3s;
}

.input-group_with-value .input-group__label,
.input-group__input:focus ~ .input-group__label {
  top: 0;
  font-size: var(--extra-small-font-size);
}

.input-group__error {
  position: absolute;
  left: 0;
  color: var(--red-1);
  font-size: var(--extra-small-font-size);
  bottom: -15px;
}
