.registrationForm {
  width: 340px;
  font-size: 13px;
  padding: 50px 30px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.registrationFormTitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.registrationFormButton {
  color: var(--white-1);
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--blue-1);
  border-radius: 8px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 14px;
  font-size: inherit;
  transition: .3s;
}

.registrationFormLink {
  align-self: center;
}
