:root {
  --link-color: $BLUE_1;
  --extra-big-font-size: 40px;
  --big-font-size: 20px;
  --normal-font-size: 15px;
  --small-font-size: 13px;
  --extra-small-font-size: 9px;
  --black-1: $BLACK_1;
  --white-1: $WHITE_1;
  --red-1: $RED_1;
  --red-2: $RED_2;
  --gray-1: $GRAY_1;
  --gray-2: $GRAY_2;
  --gray-3: $GRAY_3;
  --blue-1: $BLUE_1;
  --blue-2: $BLUE_2;
  --box-shadow: 0 0 6px 0 $BLACK_3_14;
  --text-secondary-color: $GRAY_1;
}

.light:root {
  --text-primary-color: $BLACK_1;
  --background-color: $WHITE_1;
  --menu-item-color: $BLUE_1;
  --loader-color: $BLACK_1;
  --game-modal-bg-color: $WHITE_1_80;
}

.dark:root {
  --text-primary-color: $WHITE_1;
  --background-color: $BLACK_2;
  --menu-item-color: $BLUE_2;
  --loader-color: $WHITE_1;
  --game-modal-bg-color: $BLACK_3_14;
}
