$blue-1: #3369F3;
$blue-2: #124DE2;
$blue-3: #E4EDFD;
$black-1: #1E1E1E;
$black-2: #282C35;
$gray-1: #999999;
$gray-2: #A9A9A9;
$gray-3: #EAEAEA;
$gray-4: #EFEFEF;
$gray-5: #FBFBFB;
$gray-6: #F5F5F5;
$gray-7: #F8F8F8;
$gray-8: #DDDDDD;
$red-1: #FF2F2F;
$red-2: #D62222;
$white-1: #FFFFFF;
$white-1-14: rgba(0, 0, 0, 0.14);

:root {
  --link-color: $blue-1;
  --extra-big-font-size: 40px;
  --big-font-size: 20px;
  --normal--font-size: 15px;
  --small-font-size: 13px;
  --extra-small-font-size: 9px;
  --black-1: $black-1;
  --white-1: $white-1;
  --red-1: $red-1;
  --gray-1: $gray-1;
  --gray-2: $gray-2;
  --gray-3: $gray-3;
  --blue-1: $blue-1;
  --box-shadow: 0 0 6px 0 $white-1-14;
  --text-secondary-color: $gray-1;
}

.light:root {
  --text-primary-color: $black-1;
  --background-color: $white-1;
  --menu-item-color: $blue-1;
  --loader-color: $black-1;
}

.dark:root {
  --text-primary-color: $white-1;
  --background-color: $black-2;
  --menu-item-color: $blue-3;
  --loader-color: $white-1;
}
