@keyframes changingBgColor {
  0% {
    background-color: var(--yellow-1);
  }

  100% {
    background-color: transparent;
  }
}

.commentHeader {
  font-size: var(--small-font-size);
  color: var(--text-secondary-color);
  margin-top: 8px;
  padding-top: 4px;
  padding-bottom: 8px;
}

.commentContent {
  line-height: 1.25em;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.commentHeader, .commentContent {
  margin-left: -4px;
  margin-right: -4px;
  padding-left: 4px;
  padding-right: 4px;
}

.commentActive > {
  .commentHeader, .commentContent {
    animation: changingBgColor ease-in 0.75s;
  }
}

.commentChildren {
  margin-left: 24px;
}
