@keyframes changingBgColor {
  0% {
    background-color: var(--yellow-1);
  }

  100% {
    background-color: transparent;
  }
}

.comment {
  padding: 4px;
  margin: 8px -4px;
}

.commentHeader {
  font-size: var(--small-font-size);
  color: var(--text-secondary-color);
  margin-bottom: 8px;
}

.commentContent {
  line-height: 1.25em;
  margin-bottom: 8px;
}

.comment:target  {
  animation: changingBgColor ease-in 0.75s;
}

.commentChildren {
  margin-left: 24px;
}
