.registration-input {
  display: block;
  position: relative;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--blue-1);
}

.registration-input__label {
  position: absolute;
  top: 17px;
  left: 0;
  pointer-events: none;
  color: var(--gray-1);
  transition: .3s;
}

.registration-input_with-value .registration-input__label,
.registration-input__input:focus ~ .registration-input__label {
  top: 0;
  font-size: var(--extra-small-font-size);
}

.registration-input__error {
  position: absolute;
  left: 0;
  color: var(--red-1);
  font-size: var(--extra-small-font-size);
  bottom: -15px;
}
