.avatar-settings {
  display: block;
  position: relative;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 16px;
}

.avatar-settings__input {
  padding: 15px 0;
  background-color: var(--background-color);
  color: var(--gray-1);
  border-bottom: 1px solid var(--input-border-bottom-color);
  transition: all .2s;
}

.avatar-settings__error {
  position: absolute;
  left: 0;
  color: var(--red-1);
  font-size: var(--extra-small-font-size);
  bottom: -15px;
}

.current-avatar {
  display: block;
  height: 130px;
  width: 130px;
  margin: auto;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
}
