.title {
  font-size: var(--big-font-size);
  margin-bottom: 16px;
}

.block {
  margin-bottom: 36px;
}

.row {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--text-secondary-color);
  font-size: var(--small-font-size);
}

.text {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.5em;
}
