.game-modal-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--game-modal-bg-color);
}

.game-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}

.game-modal__title {
  font-size: var(--big-font-size);
  font-weight: 500;
  margin-bottom: 10px;
  transition: 0.2s;
}

.game-modal__content {
  margin-top: 20px;
  text-align: center;
  line-height: 1.75;
  white-space: nowrap;
}

.game-modal-button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.game-modal-button-group__item {
  margin-top: 10px;
  font-size: var(--small-font-size);
  color: var(--white-1);
  background-color: var(--red-1);
  padding: 14px 40px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.game-modal-button-group__item:hover,
.game-modal-button-group__item:focus,
.game-modal-button-group__item:active {
  background-color: var(--red-2);
}
